html, body, #map {
  background-color: black;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.fullscreen {
  width: 100%;
  height: 100%;
}

/*.character {
  float: left;
  width: 110px;
  height: 110px;
  margin: 15px;
  position: relative;
  padding: 0 10px 0 36px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}*/

/*.character:hover {
  width: 150px;
  height: 150px;
}*/

.character img {
  display: block;
  margin: auto;
   /*margin-bottom: 5px; */
  height: 7rem;
}

/*.pacman:hover {
  width: 150px;
  height: 150px;
}*/

#map {
  width: 100%;
  height: 800px !important;
  margin-bottom: 5rem;
  margin-left: 0;
  margin-right: 0;
}


.container {
  margin: 0px auto;
}

#content {
  background: #eee;
  width: 540px;
  margin: 0 auto;
  padding: 130px 40px 0
}

@media screen and (max-width: 73.5em) {
  #content {
      font-size: 100%;
  }

}


.main_header {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 5rem;
  color: white;
  margin-top: 7rem;
  margin-bottom: 25px;
}

.header_choose {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 3.5rem;
  color: white;
  margin-top: 7rem;
  margin-bottom: 3rem;
}

h1 {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 4rem;
  color: white;
  margin-top: 8rem;
  margin-bottom: 3rem;
}

h2 {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  color: rgb(255, 232, 88);
  margin-top: 0px;
  margin-top: 0px;
}

h3 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(99, 215, 255);
  letter-spacing: 1px;
}

p {
  color: white;
  font-family: 'Press Start 2P', cursive;
  text-transform: lowercase;
  letter-spacing: 1px;
  text-align: center;
}


.new_player {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 140%;
}

.pacman_logo img {
  display: block;
  margin: auto;
  /*margin-bottom: 1px;*/
  height: 15rem;
}

#pacman_lights {
  display: block;
  margin: 0 auto;
  height: 4rem;
}

#small_logo {
  display: block;
  margin: 0 auto;
  height: 3rem;
}

.character  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 5rem;
}

.game_picture {
  display: block;
    margin-left: auto;
    margin-right: auto;
  height: 7rem;
  margin-bottom: 10px;
}

button {
  font-family: 'Press Start 2P', cursive;
  vertical-align: middle;
  display: block;
  margin: auto;
  padding: 45px 45px;
  font-size: 100%;
/*  margin: 25px auto; */
 padding: 10px 20px;
/*  font-size: 120%; */
  text-transform: uppercase;
  border-radius: 3.3em;
  height: 50px;
  border-color: white;


  background: #222630;

  margin-bottom: 25px;

  box-shadow: inset 0 .1em rgba(255,255,255,0.1), 0 .1em .1em black, 0 0.2em rgba(255,255,255,0.1), 0 0 0 .2em rgba(0,0,0,0.1);
  box-sizing: border-box;

  text-shadow: 0 0.1em rgba(255,255,255,0.1), 0 -0.1em rgba(0,0,0,0.2);
}

button:hover {
  text-shadow: 0 0 1em yellow;
}

button:active {
  text-shadow: 0 0 .3em #f30;
  top: 0.1em;
  box-shadow: inset 0 .1em rgba(255,255,255,0.1), 0 0.1em rgba(255,255,255,0.1), 0 -0.1em 0 .2em rgba(0,0,0,0.1);
}

button.medium {
  font-size: 1em;
}

button.small {
  font-size: 0.7em; /* .7em is minimum*/
}

/* final_style mods */

.first {
  border-color: #EF21C2;
  color: #EF21C2;
}

.second {
  border-color: blue;
  color: #F3EA0C;
}

.third {
  border-color: green;
  color: #4381DE;
}

.slim-shady {
  border-color: green;
  color: #15ADE8;
  #F695B1
}

.pink-floyd {
  border-color: green;
  color: #F695B1;
}

.kim-jong {
  border-color: green;
  color: #EC1920;
}

.muther-fucker {
  border-color: green;
  color: #F47D1E;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 300;
}

a:hover {
  color: #28a2a2;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-left: 20px;
}

li a.active {
  color: #28a2a2;
}

/* Header Style */
.hover-space, .hover-message, header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.hover-space {
  height: 70px;
  z-index: 99;
}

.hover-space:hover header {
  opacity: 1;
  transition: 1s;
}

.hover-message {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding: 15px;
  text-align: center;
  opacity: 0;

  animation:          fadeout 7s;
  -webkit-animation:  fadeout 7s;
  -moz-animation:     fadeout 7s;
}

header {
  height: 55px;
  background-image: url("http://images2.layoutsparks.com/1/66552/caution-girl-yellow-black.gif");
  text-align: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 2rem;
  color: red;

  opacity: 0;
  transition: 1s;
  transition-delay: 2s;
  -webkit-transition-delay: 2s;

  animation:          fadeout 4s;
  -webkit-animation:  fadeout 4s;
  -moz-animation:     fadeout 4s;
}

header .logo {
  position: absolute;
  left: 20px;
  color: black;
  font-weight: 300;
  font-family: 'Press Start 2P', cursive;
}

header nav {
  position: absolute;
  left: 20px;
  color: black;
  font-family: 'Press Start 2P', cursive;
}



/* Keyframes */
@keyframes fadeout {
  0%      { opacity: 1; }
  75%     { opacity: 1; }
  100%    { opacity: 0; }
}

@-webkit-keyframes fadeout {
  0%      { opacity: 1; }
  75%     { opacity: 1; }
  100%    { opacity: 0; }
}

@-moz-keyframes fadeout {
  0%      { opacity: 1; }
  75%     { opacity: 1; }
  100%    { opacity: 0; }
}

.image_end {
  margin: auto;
  padding: 20px 0 20px 0;
}
