html {
  background-color: black;
}

.image {
  background-color: black;
  text-align: center;
}

.test {
  position: fixed;
  top: 300px;
  background-color: white;
  text-align: center;
  color: red;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'VT323', serif;
  font-size: 200%;
}

h3 {
  text-align: center;
  color: white;
  background-color: black;
  font-family: 'VT323', serif;
  font-size: 200%;
}

h1 {
  text-align: center;
  color: white;
  background-color: black;
  font-family: 'VT323', serif;
  font-size: 300%;
}


.pacman {
width: 110px;
height: 110px;
margin: 15px;
padding: 30px;
-webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
     -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
        transition: all 1s ease;
}

.character {
  float: left;
  width: 110px;
  height: 110px;
  margin: 15px;
  position: relative;
  padding: 0 10px 0 36px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.character:hover {
  width: 150px;
  height: 150px;
}

.pacman:hover {
  width: 150px;
  height: 150px;
}

#map {
  width: 1200px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin: 0px auto;
}

body {
    background-color: black;
    /*background-color: #D32D2D;*/
    /*background-image: url('pacman_eating.gif')*/

}

.page-header {

  height: 50px;
  overflow: hidden;
  position: relative;
  background: #C10606;
  border-bottom: 5px solid red;
  border-color: white;
  box-shadow: 0px 10px 30px black;
  color: white;
  padding: 0 0 50px;
  text-align: center;
}

  nav {
    margin: 15px auto;
    width: 500px;
    height: 40px;
    font-size: 130%;
    color: white;
  }

  nav ul {
    list-style-type: none;
    white-space: nowrap;
    color: white;
  }

  nav ul li {
    display: inline-block;
    color: white;
    margin-left: 50px;
    padding: 8px;
    border-radius: 5px;
    font-family: 'Bangers', cursive;
    font-size: 130%;

    transition-property: color, background;
    transition-duration: .3s, .3s;
    transition-timing-function: linear, linear;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      background: darken($mainColor, 10%);
    }
  }
}

#page-footer {
  font-family: 'Bangers', cursive;
  height: 2rem;
  background: $mainColor;
  position: relative;
  border-top: 5px solid white;
  color: white;
  padding: 30px;
  box-shadow: 0px -10px 30px black;
  font-size: 1.2rem;
}

.main_header {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 4rem;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}

h2 {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color: white;
  margin-top: 0px;
  margin-top: 0px;
}

.new_player {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 140%;
}

.pacman_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 12rem;
}

#pacman_lights {
  display: block;
  margin: 0 auto;
  height: 4rem;
}

#small_logo {
  display: block;
  margin: 0 auto;
  height: 3rem;
}

h3 {
  font-family: 'Press Start 2P', cursive;
  font-size: 100%;
  color: white;
}

a {
  /*color: #F5FF24;*/
  color: white;
}

.button {

  font-family: 'Press Start 2P', cursive;
  display: block;
  margin: 0 auto;
  border-width: 100px;
  border-color: #127FDE;
  background-color: white;
  margin-bottom: 50px;
}

button {
  font-family: 'Press Start 2P', cursive;
  vertical-align: middle;
  display: block;
  margin: 40px auto;
  padding: 45px 45px;
  font-size: 100%;
  text-transform: uppercase;
  border-radius: 3.3em;
  border: 0.1em solid black;
  background: #222630;

  margin-bottom: 25px;

  box-shadow: inset 0 .1em rgba(255,255,255,0.1), 0 .1em .1em black, 0 0.2em rgba(255,255,255,0.1), 0 0 0 .2em rgba(0,0,0,0.1);
  box-sizing: border-box;

  color: #f30;
  text-shadow: 0 0.1em rgba(255,255,255,0.1), 0 -0.1em rgba(0,0,0,0.2);
}

button:hover {
  text-shadow: 0 0 .3em #f30;
}

button:active {
  text-shadow: 0 0 .3em #f30;
  top: 0.1em;
  box-shadow: inset 0 .1em rgba(255,255,255,0.1), 0 0.1em rgba(255,255,255,0.1), 0 -0.1em 0 .2em rgba(0,0,0,0.1);
}

button.medium {
  font-size: 1em;
}

button.small {
  font-size: 0.7em; /* .7em is minimum*/
}
